@import url('https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap');

:root {
  direction: rtl;
  text-align: right;
  font-family: 'Scheherazade New', serif;
}

.VPNavBar,
.VPSidebar {
  direction: rtl;
}
